/*------------------------------------------------------------*/
/*======== RESET DOMYŚLNYCH STYLÓW PRZEGLĄDAREK ==============*/
/*------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1.2;
	color: black;
	background: white;
}

input {
	border-radius: 0px;
}

textarea {
	border-radius: 0px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border:0;
	display: block;
	-ms-interpolation-mode: bicubic;
}

button.disabled {
	display: none;
}

a {
	color: #F00;
	text-decoration: none;
}

a * {
	cursor: pointer;
}

::selection {
	background: #666;
	color: red;
}

::-moz-selection {
	background: #666;
	color: red;
}
