h1 {
	text-align: center;
}

.infotext {
	color: #333;
}

img {
	display: block;
}

/* ĆWICZENIE 1 */

#cwiczenie1 {
	width: 840px;
	margin: auto;
	background-color: #DDD;
	padding: 20px;
	margin-bottom: 40px;
}

.wrapper {
	
}

header {
	width: 100%;
	background-color: #70C4F3;
	padding: 20px;
	margin: 0px;
}

nav {
	width: 300px;
	background-color: #504379;
}

nav ul {
	margin: 0px;
}

nav li {
	border-top: 2px solid white;
}

nav a {
	color: black;
	background-color: #A77BCA;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

main {
	background-color: #88B37D;
	padding: 20px 20px 20px 20px;
	width: 500px;
}

main p {
	margin: 0px;
}

main img {
	width: 100px;
	border: 2px solid white;
	padding: 2px;
}

footer {
	text-align: center;
	background-color: #C94747;
	padding: 20px;
}


/* ĆWICZENIE 2 */

#cwiczenie2 {
	width: 840px;
	background-color: #DDD;
	padding: 20px;
	margin-bottom: 40px;
}

.puzzle01 {

}

.puzzle02 {
	
}

.puzzle03 {
	z-index: -1;
}