$primary: red;
$secondary: yellow;
$corporateColor1: rgb(255, 51, 187);
$corporateColor2: rgb(46, 0, 32);

@mixin horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }

    a {
        display: block;
    }
}

@mixin default-button($bgColor, $fontColor) {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: $bgColor;
    color: $fontColor;

    &:hover {
        color: $bgColor;
        background-color: $fontColor;
    }
}