@import "variables";

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    min-height: 100vh;
    min-width: 100vh;
}

.special-offer {
    padding: 20px;
    border: 5px solid $secondary;
    color: $secondary;
    max-width: 480px;

    h1 {
        padding: 0;
        margin: 0;
    }

    P {
        color: $secondary;
    }
}

.tag-cloud {
    @include horizontal-list;

    a {
        @include default-button($primary, $secondary);
    }
}

.read-more {
    @include default-button($corporateColor1, $corporateColor2);
}