a {
   color: #d63350;
}

img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

.grid-container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto auto auto auto;
   gap: 20px;
}

.grid-item {
   position: relative;
}

.grid-item span {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   color: white;
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0;
   transition: all 0.5s ease-out;
}

.grid-item span:hover {
   opacity: 1;
}

.grid-item-1 {
   grid-column: 1 / 4;
   grid-row: 1 / 4;
}

.grid-item-6 {
   grid-column: 4 / 6;
   grid-row: 3 / 5;
}

.grid-item-7 {
   grid-column: 1 / 3;
   grid-row: 4 / 6;
}

@media screen and (max-width: 600px) {
   .grid-container {
      display: block;
      padding: 0px;
   }
}
