.grid-container {
    display: grid;
    padding: 20px;
    background-color: blue;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
}
article {
    padding: 40px;
    background-color: red;
}