.grid-container {
    background-color: red;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
 }

 .grid-item {
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
 }

 .grid-item-1 {
    grid-column: 2/4;
    grid-row: 2/4;
 }

 .grid-item-2 {
    grid-column: 4/5;
    grid-row: 4/5;
}