#main {
	width: 860px;
	height: 400px;
	border: 1px solid red;
	position: relative;
	margin: 50px;
	background-color: yellow;
	display: inline-block;
}

.object_parent {
	width: 250px;
	height: 250px;
	display: inline-block;
}

.object {
	width: 150px;
	height: 150px;
	display: inline-block;
}

p {
	margin: auto;
}


#object_1 {
	position: absolute;
	top: 50px;
	left: 200px;
	margin: 50px;
	border: 1px solid black;
	background-color: #F00;
}

#object_1a {
	position: absolute;
	top: 40px;
	left: 20px;
	border: 1px solid green;
	background-color: #800;
}
