body {
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
}

strong {
	font-weight: bold;
}

#map_wrapper {
	width: 960px;
	margin: 40px auto 0px auto;
	background-color: #FFF;
	position: relative;
}

#map_woman {
	position: absolute;
	top: 0px;
	left: 210px;
	width: 400px;
}

#mapa_polski {
	width: 50%;
	position: relative;
	left: 0px;
	top: 0px;
}

#kielce {
	top: 300px;
	left: 290px;
	z-index: 1;
}

#lodz {
	top: 210px;
	left: 240px;
	z-index: 1;
}

#szczecin {
	top: 100px;
	left: 48px;
	z-index: 1;
}

#rzeszow {
	top: 354px;
	left: 340px;
	z-index: 1;
}

#krakow {
	top: 350px;
	left: 250px;
	z-index: 1;
}

.kropka {
	position: absolute;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 50%;
	background-color: red;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.kropka:hover {
	background-color: yellow;
}

#company {
	width: 300px;
	position: absolute;
	top: 60px;
	right: 40px;
}

p.drugi_akapit {
	color: red!important;
}

#company p {
	color: green;
}

.drugi_akapit {
	color: red;
	margin-top: 20px;
	font-size: 14px;
	font-style: italic;
}

#company h1 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

#info_box {
	width: 960px;
	margin: 150px auto 40px auto;
	background-color: #FFF;
	position: relative;
	padding: 20px;
}

#info_box li {
	margin-left: 20px;
}
h1 {
	color: green;
}