.grid-container {
   display: grid;
    background-color: red;
    padding: 10px;
    grid-template-columns: 300px 300px 300px 300px 300px;
    min-height: 100vh;
 }

 .grid-item {
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
 }

 .grid-item-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
 }

 .grid-item-2 {
   grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}