.grid-container {
   max-width: 1200px;
   margin: 40px auto;
   display: grid;
   grid-template-columns: 0.25fr 0.75fr;
   grid-template-areas: "header header" "aside main" "footer footer";
 }

.grid-item {
    padding: 20px;
}

.page-header {
   background-color:black;
   color: white;
   text-align: center;
   grid-area: header;
}

.page-aside {
   background-color: #b7eca6;
   grid-area: aside;
}

.page-main {
   background-color: #f1ffec;
   grid-area: main;
}

.page-footer {
   background-color: #2c541f;
   color: white;
   text-align: center;
   grid-area: footer;
}
