.page-slogan {
  background-color: rgb(255, 255, 117);
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog {
  background-color: rgb(250, 194, 194);
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq {
  background-color: rgb(177, 253, 190);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-form {
  background-color: rgb(217, 154, 253);
  padding-top: 60px;
  padding-bottom: 60px;
}
