.zadanie {
	background-color: #ddd;
	padding: 20px;
}

p {
	display: inline;
}

#cwiczenie_1 .zadanie ul {
	list-style-type: none;
}

#cwiczenie_1 .zadanie li:first-child {
	display: none;
}

#cwiczenie_1 .zadanie ul:hover span {
	background-color: red;
}

#cwiczenie_2 .zadanie {
	display: flex;
	align-items: center;
}

#cwiczenie_2 .zadanie article {
	padding: 20px;
	width: 25%;
}

#cwiczenie_2 .zadanie article .article_inside {
	padding: 20px;
	border: 1px solid red;
	background-color: orange;
}

#cwiczenie_2 .zadanie a {
	display: block;
}

#cwiczenie_2 .zadanie img {
	width: 300px;
}

#cwiczenie_3 .zadanie p {
	display: inline;
	padding: 10px;
	background-color: red;
	margin: 0px;
}

@media (max-width: 800px) {
	body {
		display: none;
	}
}