@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap&subset=latin-ext');

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #f8b600;
    font-family: 'Calistoga', cursive;
}

h1 i {
    font-size: 48px;
}

h2:after {
    font-family: 'Font Awesome 5 Free';
    content: " \f1b0";
    font-weight: 900;
}

p, ul {
   line-height: 1.5em;
}

ul {
    list-style-type: square;
}

hr {
    margin-top: 50px;
}

a {
    color: orange;
    font-style: italic;
}

a:hover {
    color: red;
}

.page_header, .page_main, .page_aside, .page_footer {
    background-color: white;
    max-width: 800px;
    padding: 40px;
    margin: 0px auto;
    border: 1px solid orange;
    -webkit-box-shadow: 0px 0px 21px -2px rgba(255,191,0,1);
    -moz-box-shadow: 0px 0px 21px -2px rgba(255,191,0,1);
    box-shadow: 0px 0px 21px -2px rgba(255,191,0,1);
}

.full_width_image {
    width: 100%;
}

.half_width_image {
    margin: 10px 0px 10px 10px;
}

.socials a {
    display: inline-block;
    margin-right: 20px;
}

.socials i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

@media (min-width: 820px) {

    body {
        background-image: url(../images/pattern.jpg);
    }

    .page_header, .page_main, .page_aside, .page_footer {
        margin: 40px auto;
    }

    .half_width_image {
        float: right;
        width: 50%;
    }
 }


