.flexbox-container {
    margin: 0px auto;
    max-width: 1000px;
}

header {
    padding: 40px;
    background-color: red;

}

.flex-group {
    background-color: orange;
}

aside {
    padding: 40px;
    background-color: pink;
}

footer {
    padding: 40px;
    background-color: green;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    margin-bottom: 5px;
}

nav a {
    background-color: red;
    padding: 10px;
    color: white;
    display: block;
    border-radius: 10px;

}

@media (min-width: 561px) {
    body {
        padding: 60px;
    }
}
.flex-group {

}