body {
    background-color: #fff;
}

.wrapper {
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px;
    background-color: white;
}

.info-box {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #ddd;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

/* pisz swój kod poniżej */