body {
    background-color: #b1efb1;
}

.wrapper {
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px;
    background-color: white;
}

.info-box {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 20px;
	background-color: #ddd;
}

footer {
	background-color: black;
	color: white;
	padding: 40px;
	width: 100%;
	text-align: center;
	font-size: 24px;
}

/* pisz swój kod poniżej */

.main-menu {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	text-align: center;
	background-color: red;
}

.main-menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-menu ul li {
	padding: 20px;
}

.info-box span {
	color: green;
}

.info-box li:nth-child(5) {
	font-style: italic;
	font-weight: bold;
}


.main-menu ul li a {
	color: white;
	font-weight: 700;
	display: block;
}

.main-menu ul li a:hover {
	color: yellow;
}

.tabelka {
	border: 1px solid red;
	border-collapse: collapse;
	width: 100%;
}

th, tr, td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

th {
	color: white;
	background-color: black;
}

tbody tr:nth-child(odd) {
	background-color: yellow;	
}

.prostokat {
	margin-top: 30px;
	width: 100%;
	height: 300px;
	background-image: url('../images/tlo.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

p img {
	width: 400px;
	height: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}


