body {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 1.5rem;
}

/* wrappers */

.wrapper {
    max-width: 1200px;
    margin: auto;
}

/* header */

.main-menu-container {
    width: 100%;
    background-color: #74a377;
}

.main-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-col-left {
    padding-left: 0px;
    padding-right: 0px;
}

.company-logo {
    display: block;
    padding: 20px;
    width: 200px;    
}

.menu-col-right {
    padding-left: 0px;
    padding-right: 0px;     
}

.main-menu ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none; 
}

.main-menu li {
    border-left: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

.main-menu li:first-child {
    border-left: 0px solid black;  
}

.main-menu a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

/* page title */

.page-title-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-title-wrapper {
    max-width: 1200px;
    margin: auto;
}

.page-title {
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.page-title h1 {
	color: #000000;
    font-weight: 400;
    font-size: 38px;
    padding-bottom: 10px;
    border-bottom: 1px solid #74a377;
}

/* post and page single */

.entry-container {
    width: 100%;
    padding-bottom: 60px;
}

.entry-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.post {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 66.666%;
}

.post img {
    max-width: 100%;
    height: auto;
}

.sidebar {
    max-width: 33.333%;
    padding: 0px 20px;
}

.sidebar-inside {
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    border: 1px solid #d2d2d2;
}

/* blog */

.blog-container {
    width: 100%;
    background-color: #aee899;
    background-image: url("../images/bg.jpg"); /* Background pattern from Toptal Subtle Patterns */
    background-attachment: fixed;
    padding-bottom: 40px;
    border-top: 1px solid black;
}

.blog-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.blog-title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.blog-box {
    padding: 20px;
    width: 25%;
}

.blog-box-inside {
    background-color: white;
    border: 1px solid #d2d2d2;
    height: 100%;
}

.blog-box-inside h3 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.blog-box-inside p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.blog-box-inside img {
    height: auto;
    width: 100%;
    display: block;
}


/* about */

.about-container {
    width: 100%;
    background-color: #74a377;   
}

.about-container-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.about-image-box {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;   
}

.about-image-box img {
    width: 100%;
    display: block;
}

.about-text-box {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.about-text-box .read-more {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
}

/* footer */

footer {
    background-color: #ccf49f;
    padding: 40px 20px;
    text-align: center;
    
}


/* ----====media queries====---- */

@media screen and (max-width: 1200px) {
    
   /* wrappers */

    .wrapper {
        max-width: 680px;
    }

    .blog-box {
        width: 50%;
    }    

    /* post and page single */

    .post {
        max-width: 100%;
    }

    .sidebar {
        max-width: 100%;
    }

    /* about */
    
    .about-image-box {
        width: 100%;
        padding-top: 40px;
    }
    
    .about-text-box {
        width: 100%;     
    }   
}



@media screen and (max-width: 680px) {
    
    .main-menu-wrapper {
        justify-content: center;
    }
    
    .menu-col-right {
        width: 100%;
    }

    .main-menu {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .main-menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .main-menu li{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-left: 0px solid white;
        border-right: 0px solid white; 
    }
    
    .main-menu li:first-child {
        border-left: 0px solid white; 
    }
}


@media screen and (max-width: 500px) {
    
    /* wrappers */

    .wrapper {
        max-width: 440px;
    }

    /* blog */

    .blog-box {
        width: 100%;
    }
}
