body {
    padding: 100px 40px 40px 40px;
}

img {
    width: 100%;
    height: auto;
}

.main-menu {
    display: flex;
    z-index: 1;
    background-color: red;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-menu span {
    font-weight: bold;
}

.main-menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.main-menu ul li {
    margin-left: 40px;
}

.main-menu a {
    display: block;
    color: white;
}

.poland-map {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    position: relative;
}

.poland-map a {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
}

.poland-map a:before {
    content: '';
    height: 20px;
    width: 20px;
    border: 5px solid #ff9f9f;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.poland-map a:hover:before {
    background-color: white;
    border: 5px solid #ff0000;
}

.poland-map span {
    position: absolute;
    top: -14px;
    left: 16px;
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.warszawa {
    top: 43%;
    left: 70%;
}

.wroclaw {
    top: 62%;
    left: 24%;
}

.gdansk {
    top: 9%;
    left: 48%;
}

