.section-1 {
  background-color: #7db10d;
  color: white;
}

.section-1 .button {
  color: white;
  border: 2px solid white;
}

.section-1 .button:hover {
  background-color: white;
  color: #7db10d;
}

.section-1 .flex-item img {
  border: 3px solid white;
}

.section-2 {
  background-color: #593f86;
  color: white;
}

.section-2 .button {
  color: white;
  border: 2px solid white;
}

.section-2 .button:hover {
  background-color: white;
  color: #593f86;
}

.section-2 .flex-item img {
  border: 3px solid white;
}

.section-3 {
  background-color: #f98f3d;
  color: white;
}

.section-3 .button {
  color: white;
  border: 2px solid white;
}

.section-3 .button:hover {
  background-color: white;
  color: #f98f3d;
}

.section-3 .flex-item img {
  border: 3px solid white;
}

.section-4 {
  background-color: #fe291e;
  color: white;
}

.section-4 .button {
  color: white;
  border: 2px solid white;
}

.section-4 .button:hover {
  background-color: white;
  color: #fe291e;
}

.section-4 .flex-item img {
  border: 3px solid white;
}

.flex-container {
  padding: 100px 20px;
  max-width: 500px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.flex-item {
  width: 100%;
  padding: 20px;
}

.flex-item img {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}

.button {
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 780px) {
  .flex-container {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */