.grid-container {
   display: grid;
   grid-template-columns:  0.25fr 0.75fr;
   background-color: red;
   padding: 10px;
   gap:20px;
 }

 .grid-item {
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
 }

 .grid-item-1 {
    grid-column: 1/3;
 }

 .grid-item-2 {
    grid-row: 2/5;
}

.grid-item-3 {
}

.grid-item-4 {
     
}

.grid-item-5 {
     
}

.grid-item-6 {
   grid-column: 1/3;
}