* {
  outline: 1px red solid;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

span {
  display: block;
  padding: 20px;
  background: black;
  color: white;
}

@media (min-width: 601px) {
  .grid-container {
    display: grid;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
  }
  .grid-item {
    position: relative;
  }

  .grid-item:hover span {
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  span {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-item-1 {
  grid-column: 1/4;
  grid-row: 1/4;
}
.grid-item-2 {
}
.grid-item-3 {
}
.grid-item-4 {
}
.grid-item-5 {
}
.grid-item-6 {
  grid-column: 4/6;
  grid-row: 3/5;
}
.grid-item-7 {
  grid-column: 1/3;
  grid-row: 4/6;
}
.grid-item-8 {
}
.grid-item-9 {
}
.grid-item-10 {
}
.grid-item-11 {
}
