.page-title {
	text-align: center;
	margin-top: 60px;
}

.news-container {
	background-color: grey;
	max-width: 940px;
	padding: 20px;
	margin: 40px auto 40px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.news {
	width: 100%;
	max-width: 300px;
	padding: 20px;
}

.news-inside-box {
	background-color: yellow;
	padding: 20px;
	height: 100%;
}

.news-inside-box img {
	width: 100%;
	height: auto;
}

.news-inside-box h2 {
	color: green;
}

.news-inside-box p {
	color: red;
}