$layoutColor1: #7db10d;
$layoutColor2: #593f86;
$layoutColor3: #f98f3d;
$layoutColor4: #fe291e;
$dark: black;
$light: white;

@mixin mix-section ($firstColor, $secondColor) {
    background-color: $firstColor;
    color: $secondColor;
    
    .button {
        color: $secondColor;
        border: 2px solid $secondColor;
    
        &:hover {
            background-color: $secondColor;
            color: $firstColor;
        }
    }

    .flex-item img {
        border: 3px solid $secondColor;
    }
}