@import "variables";

.section-1 {
    @include mix-section($layoutColor1, $light);
}

.section-2 {
    @include mix-section($layoutColor2, $light);
}

.section-3 {
    @include mix-section($layoutColor3, $light);
}

.section-4 {
    @include mix-section($layoutColor4, $light);
}

.flex-container {
    padding: 100px 20px;
    max-width: 500px;
    margin: auto;
    align-items: center;
    min-height: 100vh;
}

.flex-item {
    width: 100%;
    padding: 20px;

    img {
        width: 100%;
        max-width: 500px;
        margin: auto;
        display: block;
    }
}

.button {
    transition: background-color 0.3s ease-out;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 780px) {
    .flex-container {
        max-width: 1000px;
        display: flex;
        flex-wrap: nowrap;
    }
}