.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 40px auto;
}

.flex-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

header, main, footer, aside {
    padding: 40px;
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

aside {
    background-color: green;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 20px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 20px;
    color: yellow;
}

main {
    background-color: yellow;
    flex-grow: 1;
    width: 100%;
}

footer {
    background-color: orange;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 560px) {
    .flex-group {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    aside {
        width: 280px;
        min-width: 200px;
    }

    main {
        width: 280px;
    }
}