$primaryColor: orange;
$secondaryColor: #c78100;
$lightColor: white;
$darkColor: black;
$semiDarkColor: grey;

@mixin defaultBlock($bgColor, $fontColor, $paddingSize, $blockWidth) {
    display: block;
    width: $blockWidth;
    padding: $paddingSize;
    background-color: $bgColor;
    color: $fontColor;
}