@import "variables";

html {
    background-color: $semiDarkColor;
}

body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

h1, h2 {
    color: $primaryColor;
}

.page-header {
    @include defaultBlock($darkColor, $lightColor, 40px, 100%); /* background, color, padding, width */
}

aside {
    @include defaultBlock($primaryColor, $lightColor, 20px, 100%); /* background, color, padding, width */
}

.menu {
    padding: 10px;
    background-color: black;
    list-style: none;
    margin: 0px;

    li {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    a {
        display: block;
        padding: 20px;
        background-color: $secondaryColor;
        color: $darkColor;

        &:hover {
            background-color: $lightColor;
            color: $darkColor;
        }
    }
}

main {
    @include defaultBlock($lightColor, $darkColor, 40px, 100%); /* background, color, padding, width */
}

footer {
    @include defaultBlock($darkColor, $lightColor, 80px, 100%); /* background, color, padding, width */
}

@media screen and (min-width: 500px) {
    aside {
        width: 30%; /* background, color, padding, width */
    }
    
    main {
        width: 70%;
    }
}