.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 40px auto;
}

header, main, footer, aside {
    padding: 40px;
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

aside {
    background-color: green;
    width: 25%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 20px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 20px;
    color: yellow;
}

main {
    width: 75%;
    background-color: yellow;
}

footer {
    background-color: orange;
    text-align: center;
    width: 100%;
}