$paddings: 50px;
$myColor: rgb(255, 251, 0);

@mixin default-section-layout($bgColor, $color, $aColor, $aHoverColor) {
  background-color: $bgColor;
  color: $color;

  a {
    color: $aColor;
  }
  a:hover {
    color: $aHoverColor;
  }
}
