// import _variables.scss file
@import "variables";
// import end

.default-section {
  min-height: 100vh;
  background-color: gray;
  color: white;
}
.flex-container {
  display: flex;
  min-height: 100vh;
  // flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  // text-align: center;
}
.flex-item {
  width: 50%;
  padding: $paddings;
}

.image-half {
  opacity: 0;
}

img {
  width: 100%;
  border: 5px solid white;
  @extend .image-half;
}

.button {
  background-color: black;
  color: whitesmoke;
  border: whitesmoke 5px solid;
  padding: 5px;
}
.section-1 {
  @include default-section-layout(red, $myColor, white, yellow);
}
.section-2 {
  @include default-section-layout(white, $myColor, $myColor, red);
}
.section-3 {
  @include default-section-layout(pink, blue, green, black);
}
.section-4 {
  @include default-section-layout(blue, red, pink, white);
}
