.default-section {
  min-height: 100vh;
  background-color: gray;
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: auto;
}

.flex-item {
  width: 50%;
  padding: 50px;
}

img {
  width: 100%;
  border: 5px solid white;
}

.image-half, img {
  opacity: 1;
}

.button {
  background-color: black;
  color: whitesmoke;
  border: whitesmoke 5px solid;
  padding: 5px;
}

.section-1 {
  background-color: red;
  color: #fffb00;
}

.section-1 a {
  color: white;
}

.section-1 a:hover {
  color: yellow;
}

.section-2 {
  background-color: white;
  color: #fffb00;
}

.section-2 a {
  color: #fffb00;
}

.section-2 a:hover {
  color: red;
}

.section-3 {
  background-color: pink;
  color: blue;
}

.section-3 a {
  color: green;
}

.section-3 a:hover {
  color: black;
}

.section-4 {
  background-color: blue;
  color: red;
}

.section-4 a {
  color: pink;
}

.section-4 a:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */