body {
  padding: 100px 40px 40px 40px;
}
img {
  width: 100%;
  height: auto;
}
.main-menu {
  display: flex;
  z-index: 1;
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-menu span {
  font-weight: bold;
}
.main-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}
.main-menu li {
  margin-left: 40px;
}
.main-menu a {
  display: block;
  color: whitesmoke;
}
.poland-map {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.poland-map a {
  width: 1px;
  height: 1px;
  display: block;
  position: absolute;
}
.poland-map a:before {
  content: "";
  height: 20px;
  width: 20px;
  border: 5px pink solid;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}
.poland-map a:hover:before {
  background-color: white;
  border: 5px solid red;
}
.poland-map span {
  position: absolute;
  top: -14px;
  left: 16px;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.warszawa {
  top: 43%;
  left: 70%;
}
.wroclaw {
  top: 62%;
  left: 24%;
}
.gdansk {
  top: 9%;
  left: 48%;
}

svg {
    width: 50px;
    height: 50px;
}

svg:hover {
    fill: yellow;
}

svg:active {
    fill: rgb(0, 38, 255);
}

.footer {
position: fixed;
bottom: 0;
left: 0;
background-color: black;
width: 100%;
}