.grid-container {
   
}
.grid-item {
}
.main-menu {
   text-align: center;
   
}
ul {
   list-style-type: none;
   padding-inline-start: 0;
   padding: 0px;
   margin: 0;
}
li:first-child {
   line-height: 50px;
   border: rgb(0, 0, 0) 2px solid;
   border-bottom: rgb(0, 0, 0) 1px solid;
   background-color: rgb(255, 115, 0);
}
li:nth-child(2) {
   line-height: 50px;
   border: rgb(0, 0, 0) 2px solid;
   border-top: rgb(0, 0, 0) 1px solid;
   border-bottom: rgb(0, 0, 0) 1px solid;
   background-color: rgb(255, 115, 0);
}
li:nth-child(3) {
   line-height: 50px;
   border: rgb(0, 0, 0) 2px solid;
   border-top: rgb(0, 0, 0) 1px solid;
   border-bottom: rgb(0, 0, 0) 1px solid;
   background-color: rgb(255, 115, 0);
}
li:last-child {
   line-height: 50px;
   border: rgb(0, 0, 0) 2px solid;
   border-top: rgb(0, 0, 0) 1px solid;
   background-color: rgb(255, 115, 0);
}
a {
   color: white
}
.page-header {
   background-color: rgb(255, 0, 0);
   padding: 10px;
}
.page-aside {
   /* display:none; */

}
.page-main {
   border: black 1px solid;
}
article {
text-align: center;
}
article > img {
   width: 100%;
}
.page-footer {
}

@media screen and (min-width: 720px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header" "aside main" "footer footer";
    min-height: 100vh;
    min-width: 100vh;
    /* gap: 20px; */
  }
  .grid-item {
    padding: 10px;
  }
  .main-menu {
    width: 100%;
    background-color: #ff06a4;
    padding: 10px;
  }
  ul {
    list-style-type: none;
  }
  li {
    padding: 10px;
    border: 1px red solid;
    background-color: #82d633;
    width: 100%;
  }

  a {
    color: #6d6bd6;
  }

  .page-header {
    background-color: #82d633;
    color: white;
    grid-area: header;
  }

  .page-aside {
    background-color: #30e7e7;
    grid-area: aside;
  }

  .page-main {
    background-color: #1c6316;
    grid-area: main;
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 0.5fr 0.5fr;
  }

  article > img {
    width: 100%;
    height: auto;
  }

  .page-footer {
    background-color: #ff06a4;
    color: white;
    grid-area: footer;
    /* position: fixed;
     bottom: 0; */
  }
}
