.grid-container {
    background-color: red;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    gap: 40px;
    justify-content: center;
 }

 .grid-item {
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
 }

 .grid-item-1 {
   grid-column: 1/3;
   grid-row: 1/2; /* opcjonalne */
 }

 .grid-item-2 {
    grid-column: 1/2; /* opcjonalne */
    grid-row: 2/5;
}

.grid-item-6 {
    grid-column: 1/3;
    grid-row: 5/6; /* opcjonalne */
}

@media screen and (max-width: 600px) {
   .grid-container {
      display: block;
   }
}