body {
    text-align:  center;
}

h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}

#wrapper {
    width: 1200px;
    margin: auto;
}
.flex-boxes{
    display: flex;
    flex-wrap: wrap;
}

.text_box {
    width: 880px;
    padding: 20px;
    background-color: #82c3ae;
}

.menu_box {
    background-color: #353535;
    width: 320px;
}

.footer_box {
    background-color: #516b68;
    color: white;
    padding: 20px;
    width: 100%;
}

nav {

}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}