body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  color: white;
  min-height: 100vh;
  min-width: 100vh;
}

.special-offer {
  padding: 20px;
  border: 5px solid yellow;
  color: yellow;
  max-width: 480px;
}

.special-offer h1 {
  padding: 0;
  margin: 0;
}

.special-offer P {
  color: yellow;
}

.tag-cloud {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tag-cloud li {
  display: inline-block;
}

.tag-cloud a {
  display: block;
}

.tag-cloud a {
  border-radius: 20px;
  padding: 5px 20px;
  background-color: red;
  color: yellow;
}

.tag-cloud a:hover {
  color: red;
  background-color: yellow;
}

.read-more {
  border-radius: 20px;
  padding: 5px 20px;
  background-color: #ff33bb;
  color: #2e0020;
}

.read-more:hover {
  color: #ff33bb;
  background-color: #2e0020;
}
/*# sourceMappingURL=style.css.map */