.grid-container {
}
.grid-item {
}
.page-header {
}
.page-aside {
}
.page-main {
}
.page-footer {
}

@media (min-width: 461px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header" "aside main" "footer footer";
    max-width: 1200px;
    margin: 40px auto;
    /* gap: 50px; */
    /* min-height: 100vh; */
  }

  .grid-item {
    padding: 20px;
  }

  .page-header {
    background-color: black;
    color: white;
    text-align: center;
    grid-area: header;
  }

  .page-aside {
    background-color: #b7eca6;
    grid-area: aside;
  }

  .page-main {
    background-color: #f1ffec;
    grid-area: main;
  }

  .page-footer {
    background-color: #2c541f;
    color: white;
    text-align: center;
    grid-area: footer;
  }
}
