html {
  background-color: grey;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

h1, h2 {
  color: orange;
}

.page-header {
  display: block;
  width: 100%;
  padding: 40px;
  background-color: black;
  color: white;
  /* background, color, padding, width */
}

aside {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: orange;
  color: white;
  /* background, color, padding, width */
}

.menu {
  padding: 10px;
  background-color: black;
  list-style: none;
  margin: 0px;
}

.menu li {
  margin-bottom: 5px;
}

.menu li:last-child {
  margin-bottom: 0px;
}

.menu a {
  display: block;
  padding: 20px;
  background-color: #c78100;
  color: black;
}

.menu a:hover {
  background-color: white;
  color: black;
}

main {
  display: block;
  width: 100%;
  padding: 40px;
  background-color: white;
  color: black;
  /* background, color, padding, width */
}

footer {
  display: block;
  width: 100%;
  padding: 80px;
  background-color: black;
  color: white;
  /* background, color, padding, width */
}

@media screen and (min-width: 500px) {
  aside {
    width: 30%;
    /* background, color, padding, width */
  }
  main {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */