.grid-container {
    display: grid;
    grid-template-columns: 200px 500px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    background-color: red;
    padding: 40px;
    min-height: 100vh;
 }
 
 .grid-item {
    background-color: yellow;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
 }

 .grid-item-1 {
    
 }

 .grid-item-2 {
    
}

.grid-item-3 {
     
}

.grid-item-4 {
     
}

.grid-item-5 {
     
}

.grid-item-6 {
    
}