a {
   color: #d63350;
}

img {
   max-width: 100%;
   height: auto;
}

.grid-container {
   max-width: 1200px;
   margin: 40px auto;
}

.grid-item {
   padding: 20px;
   text-align: justify;
}

.page-header {
   background-color: #d63350;
   color: white;
   text-align: center;
}

.page-aside {
   background-color: #ecc8a6;
}

.main-menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.main-menu li {
   margin: 0 0 10px 0;
}

.main-menu a {
   display: block;
   padding: 20px;
   background-color: #fcecdd;
}

.page-main {
   background-color: #fcecdd;
}

.page-footer {
   background-color: #481234;
   color: white;
   text-align: center;
}

@media screen and (min-width: 720px) {
   .grid-container {
      display: grid;
      grid-template-columns: 0.25fr 0.75fr;
      grid-template-areas: "header header" "aside main" "footer footer";
   }

   .page-header {
      grid-area: header;
   }

   .page-aside {
      grid-area: aside;
   }

   .page-main {
      grid-area: main;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      gap: 20px;
   }

   .page-footer {
      grid-area: footer;
   }
}