:root {
   --colorPrimary: #ffd530;
   --colorSecondary: #c5c5c5;
   --colorRed: red;
   --colorWhite: white;
   --colorBlack: black;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

a {
   color: var(--colorPrimary);
}

/* layout */

.wrapper {
   max-width: 1200px;
   margin: auto;
   padding-left: 0px;
   padding-right: 0px;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.col {
   position: relative;
   width: 100%;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
}

.inside-box {
   padding: 20px;
}

.align-items-center {
   align-items: center;
}

/* text */

.text-center {
   text-align: center;
}

/* ========== components ============*/

.img-fluid {
   max-width: 100%;
   height: auto;
}

.page-logo-box {
   width: 160px;
   margin: auto;
}

.widget {
   border-top: 10px solid var(--colorPrimary);
   margin-bottom: 20px;
}

.list-group {
   list-style-image: url("../images/list-item-bg.png")
}

.list-group__item {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
}

.list-group__link {
   color: var(--colorBlack);
   font-style: italic;
}

.section-title {
   width: 100%;
   position: relative;
   text-align: center;
   margin-bottom: 40px;
}

.section-title:before, .section-title:after {
   content: "";
   width: 200px;
   height: 2px;
   left: 0px;
   position: absolute;
   left: calc(50% - 100px);
}

.section-title:before {
   top: 0px;
   background-color: var(--colorPrimary);
}

.section-title:after {
   bottom: 0px;
   background-color: var(--colorPrimary);
}

.best-movies {
   padding-top: 60px;
   padding-bottom: 60px;
}

.card__inside {
   background-color: var(--colorWhite);
   padding: 20px;
   border-radius: 10px;
   height: 100%;
}

/* menu */

.main-menu__navbar {
   display: flex;
   justify-content: center;
   margin: 0px;
   padding: 0px;
}

.main-menu__item {
   padding: 10px 20px;
   border-right: 1px solid var(--colorWhite);
   list-style-type: none;
}

.main-menu__item:first-child {
   border-left: 1px solid var(--colorWhite);
}

.main-menu__link {
   display: block;
}

.main-menu__link--active {
   color: var(--colorRed);
}

/* sections */

.main-container {
   flex: 1;
}

/* backgrounds */

.bg-var(--colorWhite) {
   background-color: var(--colorWhite);
   color: var(--colorBlack);
}

.bg-black {
   background-color: var(--colorBlack);
   color: var(--colorWhite);
}

.bg-primary {
   background-color: var(--colorPrimary);
   color: var(--colorBlack);
}

.bg-secondary {
   background-color: var(--colorSecondary);
   color: var(--colorBlack);
}

@media (min-width: 580px) {
   .wrapper {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .wrapper {
      max-width: 720px;
      padding-left: 0px;
      padding-right: 0px;
   }

   .main-container {
      padding-top: 40px;
      padding-bottom: 40px;
   }

   [class*="col-md-"] {
      padding-top: 0px;
      padding-bottom: 0px;
  }

   .col-md-2 {
      max-width: 16.666%;
   }

   .col-md-4 {
      max-width: 33.333%;
   }

   .col-md-8 {
      max-width: 66.666%;
   }

   .col-md-10 {
      max-width: 83.333%;
   }

   .col-md-12 {
      max-width: 100%;
   }

   .page-sidebar {
      order: 1;
   }

   .page-main {
      order: 2;
   }

   .page-logo-box {
      width: 120px;
      padding: 10px;
      margin: 0;
   }

   .main-menu__navbar {
      display: flex;
      justify-content: flex-end;
      margin: 0px;
      padding: 0px;
   }
}

@media (min-width: 980px) {
   .wrapper {
      max-width: 960px;
   }
}

@media (min-width: 1280px) {
   .wrapper {
      max-width: 1200px;
   }
}