.grid-container {
    max-width: 1200px;
    margin: 40px auto 40px auto;
    background-color: red;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 400px 300px;
    gap: 40px;
    min-height: 100vh;
}

.grid-item {
    background-color: yellow;
    border: 4px solid black;
}